/* register.css */

/* Global Styles */
body {
	background-color: rgb(29, 28, 28);
	color: rgb(245, 78, 78);
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: center;
	margin: 0;
	font-family: Arial, sans-serif;
	overflow: hidden;
  }
  
  /* Container Styles */
  .my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1;
  }
  
  .my-login-page .brand img {
	width: 100%;
  }
  
  .my-login-page .card-wrapper {
	width: 400px;
	text-align: center;
  }
  
  .my-login-page .card {
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .my-login-page .card.fat {
	width: 100%;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
  }
  
  .my-login-page .card .card-title {
	margin-bottom: 20px;
	color: #007bff;
  }
  
  .my-login-page .form-control {
	border-width: 2px;
	border-color: #007bff;
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	transition: border-color 0.3s;
  }
  
  .my-login-page .form-control:focus {
	border-color: #0056b3;
  }
  
  .my-login-page .form-group label {
	width: 100%;
  }
  
  .my-login-page .btn.btn-block {
	padding: 12px 10px;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .my-login-page .btn.btn-block:hover {
	background-color: #0056b3;
  }
  
  .my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
  }
  
  .size {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
  }
  
  .two {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
  }
  
  /* Animation Styles */
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	  transform: translateY(10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
	  width: 90%;
	  margin: 0 auto;
	}
  }
  
  @media screen and (max-width: 320px) {
	.my-login-page .card.fat {
	  padding: 10px;
	}
  
	.my-login-page .card.fat .card-body {
	  padding: 10px;
	}
  }
  

/* register.css */

/* Global Styles
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
  }
  
  /* Container Styles */
  /* .my-login-page {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .container {
	max-width: 400px;
  }
   */
  /* Card Styles */
  /* .card-wrapper {
	text-align: center;
	margin-top: 15px;
  }
  
  .card {
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	background-color: #fff;
  }
  
  .card-title {
	margin-bottom: 30px;
  }
   */
  /* Form Styles */
  /* .form-group {
	margin-bottom: 20px;
  }
  
  .form-control {
	border: 1px solid #ced4da;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
  }
  
  .invalid-feedback {
	color: #dc3545;
  }
   */
  /* Checkbox Styles */
  /* .custom-checkbox {
	margin-top: 10px;
  } */
  
  /* Button Styles */
  /* .btn-primary {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
  }
  
  .btn-primary:hover {
	background-color: #0056b3;
  } */
  
  /* Animation Styles */
  /* .data-inserted {
	animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
   */
  /* Link Styles */
  /* a {
	color: #007bff;
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
   */



/* html,body {
	height: 100%;
} */

/* .my-login-page { */
	/* background-color: #9bc6f1;
	font-size: 15px;
    display: block; */
    /* margin: 30vh; */
/* } */

/* body{
    background-color: rgb(29, 28, 28);
    color: black;
     display: flex;
     align-items: center;
     height: 100vh;
     justify-content: center;
     position: relative;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
    width: 100%;
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.size{
    display: block;
    margin-top: 2px;
    margin-bottom: 10px;
}
.two{
    display: flex;
    flex-direction: row;
    flex: 50px 1;
}
@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
} */