
.nav{
    width:100%;
    margin-top: -8px;
    /* background-color: red; */
    position: fixed;   
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;

}

.menu{
    position: absolute;
    right: 50px;
    align-items: center;
    justify-content: center;

    /* margin-left: 10px; */
}

.nav li{
    width: 8vw;
    font-size: larger;
    margin-left: 1px;
    margin-top: 0px;
    justify-content: center;
    

    /* border: 1px solid black; */
    /* background-color: blue; */
    
}

.nav li a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    text-decoration: none;

}
.text:hover{
    background-color: rgb(0, 255, 255);
    color: #000;
    box-shadow: 2px 1px 10px 10px solid black;
   
   
}