@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root{
    --yellow:yellow;
    
}

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: al .2s linear;

}

*::selection{
    background-color: var(--yellow);
    color: black;
}

html{
    font-size: 55%;
    overflow-x: hidden ;
}

html ::-webkit-scrollbar{
    width: 1.4rem;
}

html ::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
    border-radius: 5px;
}

body{
    background-color: black;
    overflow-x: hidden;
    padding-left: 35rem ;
}

section{
    min-height: 100vh;
    padding: 1rem;

}

.btn{
    padding: 1.5rem 3rem 1.5rem 3rem;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;

}
.btn:hover{
    background-color: var(--yellow);
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid white;
    color: white;


}


.heading span{
    color: var(--yellow);

}


header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}


.user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);

}

.user .name{
    font-size: 3.5rem ;
    color: white;
}

.user .post{
    font-size: 2rem;
    color: rgb(210, 204, 193);
}

.navbar{
    width: 100%;

}

.navbar ul{
    list-style: none;
    padding: 1rem;
}

.navbar li a{
    display: block;
    padding: 1.5rem;
    margin: 1.3rem 0;
    background-color: #333;
    color: white;
    font-size: 2rem;
    border-radius: 5rem;
}


.navbar li a:hover{
    background-color: var(--yellow);
    

}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #333;
    color: white;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;

}



.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 1.5rem;
}
.home h3{
    font-size: 2.5rem;
    color: white;
}


.home h1{
    font-size: 5rem;
    color: white;
}
.home h1 span{
    color: var(--yellow);
}


.home p{
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
}



.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;

}


.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;

}
.about .row .info h3{
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;

}

.about .row .info h3 span{
    color: white;
    padding: 0 .5 rem;
}



.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.about .row .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: var(--yellow);
}


.about .row .counter .box h3{
    font-size: 4rem;
    color: white;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 1.3rem;
}
.education .box-container .box{
    width: 40rem;
    margin: 4rem;
    padding-left: 4rem;
    border-left: 1.8rem solid white;
    position: relative;

}

.education .box-container .box span{
    font-size: 2rem;
    background: #222;
    color: white;
    border-radius: 5rem;
    padding: 2.5rem 3rem;
    
}

.education .box-container .box h1,h3{
    font-size: 2rem;
    color: white;
    padding-top: 1.5rem;
    
}
.education .box-container .box h1{
    font-size: 2rem;
    color: var(--yellow);
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    
}

.education .box-container .box i{
    position: relative;
    top:1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: 2rem;
    color:white;
    background: var(--yellow);

}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

}

.portfolio .box-container .box{
    height: 20rem;
    width: 26rem;
    border-radius: 2rem;
    padding: 1.4rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;


}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);

}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;


}

.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;


}
.contact .row form .box{
    padding: 1.6rem;
    margin: 1rem 0;
    background: #333;
    color: white;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;

}
.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;

}

.contact .row .content .title{
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
    
}


.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;


}

.contact .row .content .info h3{
    padding-right: 1rem;
    color: var(--yellow);

    font-size: 2rem;
    
    padding: 1rem 0;
    font-weight: normal;

}



.top{
    position: fixed;
    bottom: 7.4rem;
    right: 2rem;
    z-index: 100;
    display: none;
    
}












/* 


@media (max-width:1200px) {
    html{
        font-size: 55%;  
    }
    .home{
        padding: 1rem 4 rem;
    }
    
}

@media (max-width:990) {
    header{
        left: -120%;
    }

    
}

@media (max-width:400px) {
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;

    }
} */