/* Styling for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th{
  padding: 20px 50px;

  background-color: rgb(21, 43, 233);

}

table td{
  background-color:rgba(35, 8, 9, 0.5);
  color: rgb(255, 255, 255);
  
  padding: 20px;
}
table th,
table td {
  
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Hover effect for table rows */
table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Animation for buttons */
button {
  background-color: #0074d9;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

/*
#main{
    /* background-color: red; 
    width: 80vw;
    height: 60vh;
    
}
table{
    width: max-content;     
    padding: 30px 50px;
}
tr{
    
    display: grid;
    grid-template-columns: 250px 1fr 250px 1fr 250px 1fr;
    font-size: large;    
    justify-items: center;
    background-color: blue;
    /* border-radius: 30px 30px 0px 0px; 
    height: 40px;
}

.data{
    display: flex;
    justify-content: center;
    
}

th,button{
  display: flex;
  width: 99%;
  background-color: red;
  justify-content: center;
}
td{
  width: 98%;
  margin-bottom: 2px  ;
  color: black;
  background-color: aqua;
} */

/* Style even rows */
/* tr:nth-child(even) td:nth-child(even) {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
  } */
  
  /* Style even rows with odd columns */
  /* tr:nth-child(even) td:nth-child(odd) {
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
  }
   */
  /* Style odd rows */
  /* tr:nth-child(odd) td:nth-child(odd) {
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
  } */
  
  /* Style odd rows with even columns */
  /* tr:nth-child(odd) td:nth-child(even) {
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
  } */