/* styles.css */

/* Style for the button */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Style for the modal */
  .modal-content {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Style for the form elements */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style for the update and cancel buttons */
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Style for the cancel button */
  .cancel-button {
    background-color: #ccc;
  }
  
  /* Add more styles as needed */
  
  /* You can import this CSS file in your React component */
  