/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */

/* * {
  box-sizing: border-box;
} */

/* body {
  background-color: steelblue;
  color: #cf6a6a;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
} */

.container {
  /* background-color: rgba(0, 0, 0, 0.4); */
  padding: 20px 40px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: rgb(39, 173, 218);
  transition: color 0.3s;
}

.container a:hover {
  color: #d74b4b;
  /* background-color: rgba(186, 115, 247, 0.79); */
}

.bc {
  width: 95%;
  margin: 8px;
  outline-color: blue;
  caret-color: red;
  padding: 5px;
  transition: outline-color 0.3s;
}

.bc:focus {
  outline-color: rgb(78, 172, 204);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  filter: blur(0);
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: rgb(105, 215, 252);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:focus {
  outline: 0;
}
.king{
  background-color: rgb(22, 24, 23);
  
}

.btn:active {
  transform: scale(0.98);
  transition: transform 0.1s;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #db2323 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #c22121;
  transition: border-color 0.3s;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(53, 166, 203);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  transition: top 0.3s;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: rgb(89, 207, 247);
  transform: translateY(-30px);
}

/* Additional Animations */
.container:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #da3e3e;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:active {
  transform: scale(0.98);
}

.form-control input:focus,
.form-control input:valid {
  border-bottom-color: rgb(82, 175, 206);
}

.form-control label {
  top: 5px;
}




/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

/* body {
  background-color: steelblue;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
} 

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  color: black;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container  {
  text-decoration: none;
  
  color: rgb(64, 185, 225);
  
}
.bc{
  width: 95%;
  margin: 8px;
  outline-color:blue;
  
  caret-color: red;
  padding: 5px;
  

}
input:focus {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1); 
  filter: blur(0);
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}
.text:hover{
  background-color: rgba(186, 115, 247, 0.79);
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #db2323 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #c22121;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
} */
