@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poiret+One&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

:root{
    --i:32px ;
}

hr{
    height: 1.7px;
    background-color: white;
}

body{
    background-image:linear-gradient(rgb(8, 8, 8) ,rgb(52, 66, 71),rgb(72, 93, 72));   
    color: aqua;
}


.Resume{
    line-height: 23px;    
}


.name_photo{
    display: grid;
    grid-template-columns:1fr 200px;    
    left:0px;
    right: 0px;
    height: 130px;
}


.iam{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-shadow: 1.4px 1.4px 2px white;
    color:rgb(86, 134, 247);
    line-height: 50px;   
}

.imgg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.onepiece{}

.bottom{
    position: relative;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.h2{
    color: yellow;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 13px;
    font-weight: lighter;
    font-size:28px;
}

.left{
    border: 1.4px solid white;
    border-top: none;
    border-left: none;

}

.personal_details{
    padding-left: var(--i);
}

.personal_details p i{
    padding-right: 15px;
    width: 15px;
}

.myname{}

.personal{}

.languages{
    padding-left: var(--i);
}

.languages li{
    list-style: none;
}

.hobbies{
    padding-left: var(--i);
}

.hobbies li{
    list-style: none;
}

.right{}

.Objective{
    padding-left: var(--i);
}

.education{
    padding-left: var(--i);
}

.edu{
    position: relative;
}

.course{
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    padding-top:8px;
    padding-bottom: 5px; 
}

.sc{
    font-size: 18px;
    padding-left: 28px;
    padding-bottom: 5px;
}

.CGPA{
    font-size: 18px;
    padding-left: 27px;
    padding-bottom: 5px;
}

.Technical_languages{
    padding-left: var(--i);
    

}

.Technical_languages li{
    padding-left: 27px;
}

.Declaration{
    padding-left: var(--i);
    padding-bottom: 40px;
}