* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    /* height: 2400px; */
}

body::-webkit-scrollbar {
    background-color: rgb(0, 0, 0);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(225, 247, 29);
    border-radius: 10px;
}

header {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    background-color: rgb(33, 1, 1);
    height: 18vh;
}

.header {
    margin: auto;
}

.back {
    display: block;
    position: relative;
    height: 133vh;
}

.top_login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 18px;
}

.top_login button {
    background-color: rgb(240, 240, 240);
    font-size: 2.4vh;
    border: none;
    height: 5vh;
    margin: 2px;
    color: black;
    display: block;
    align-items: center;
    justify-content: center;
    transition: .7s;
}

.top_login button:hover {
    background-color: rgba(133, 133, 250, 0.718);
    box-shadow: 2px 2px 3px 2px rgba(31, 29, 29, 0.64);
    color: red;
}

.form {
    position: absolute;
    margin-top: 60px;
    margin-left: 70px;
    z-index: 10;
    display: block;
    height: 640px;
    /* background-color: red; */
    width: 33vw;
    border: none;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
}

.pnr {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pnr p {
    background-color: darkblue;
    opacity: .73;
    align-items: center;
    margin: 0px 10px 0px 0px;
    padding: 5px 30px;
    color: white;
    border-radius: 2px;
}

.top_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4px;
    height: 85px;
    /* background-color: green; */
}

.top_2 div {
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_2 .middle {
    padding-top: 15px;
    justify-content: center;
    color: darkblue;
    font-size: 25px;
    align-items: start;
}

.top_2 img {
    height: 10vh;
}

.check div {
    display: grid;
    grid-template-columns: 50px 1fr;
    height: 30px;
    /* color: white; */
    align-items: center;
}

.input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 12px;
    height: 160px;
}

.f {
    margin: 8px;
}

label {
    color: rgb(0, 255, 89);
}

.check input {
    height: 17px;
}

.input input {
    background-color: rgb(200, 200, 206);
    border: none;
    padding: 12px;
    color: white;
    border-radius: 5px;
    height: 4.5vh;
    width: 13.5vw;
}

.input input::placeholder {
    color: rgb(219, 20, 20);
}

.button {
    height: 80px;
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    border-radius: 10px;
}

.button div {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
}

button {
    height: 7vh;
    padding: 4px 22px;
    color: white;
    background-color: blue;
    border: none;
}

.content {
    padding-left: 15px;
    color: rgb(6, 6, 6);
    font-size: 12px;
    font-weight: bold;
}

#sec {
    display: block;
    position: absolute;
    width: 100%;
    height: 133vh;
}

#thr {
    position: absolute;
    z-index: -10;
    object-fit: cover;
    height: 610px;
    width: 33.4vw;
    opacity: .3;
    box-shadow: 2px 2px 10px 10px rgb(222, 131, 213);
    transition: .2s;
}

#thr:hover {
    box-shadow: 2px 2px 2px 2px black;
}

.holy {
    width: 70%;
    display: block;
    align-items: center;
    height: 180vh;
    justify-content: center;
    margin: 5vh auto;
}

.alle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

.container {
    display: block;
    height: 80vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
    margin: 2vh;
    padding: auto;
}

.ing {
    display: block;
    width: 100%;
    object-fit: contain;
}

.ing img {
    /* display: flex; */
    object-fit: fill;
    width: 100%;
    height: 30vh;
}

.holidays {
    display: flex;
    justify-content: center;
    background-color: white;
}

.word {
    display: grid;
    grid-template-rows: 10vh 1fr;
    height: 300px;
    margin: 3vh auto;
}

h4 {
    display: block;
    padding-top: 1.5vh;
    height: 12vh;
    text-align: center;
    color: rgb(88, 86, 86);
}

.word p {
    display: flex;
    color: rgb(49, 13, 13);
    padding: 3.46px;
    margin: 2vh 1vh;
    text-align: justify;
    font-size: 2vh;
}

footer {
    width: 100%;
    background-color: rgb(26, 9, 84);
    height: 50vh;
    color: white;
}

.icon {
    display: flex;
    height: 10vh;
    background-color: rgb(19, 41, 19);
    margin: auto;
}

.net {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}

.extra {
    background-color: white;
    height: 10px;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1vh 10vh;
}

.left_one,
.left_two,
.left_three,
.left_four {
    display: flex;
    flex-direction: column;
    flex: 1 1 1 1;
}

.all_icon {
    display: block;
    margin-left: 17px;
    z-index: 10000;
}

.all_icon i {
    margin: auto;
    margin-left: 10px;
    font-size: 22px;
}

.details p {
    display: flex;
    color: red;
    transition: .4s;
}

.details p:hover {
    color: white;
}

@media only screen and (max-width: 900px) {
    .alle {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* Add responsive styles for smaller screens here */
}

