body{
    color: black;
    background-image: linear-gradient(tolightgreen,pink);
    height: 100%;
}


.main{
    display: flex;
    justify-content: center;
}
.todoapp_container{
    display: flex;
    justify-content: center;
    border:none;
    border-radius: 5px;
    height: 1vh;
    width: 10%;
    background-image: linear-gradient(30deg, aqua, lightgreen,rgb(122, 122, 244));
}
.todo{
    margin-top: 10px;
}
.enter{
    display: block;
}
.list{
    display: block;
    justify-content: center;
}


.task:hover{
    outline: none;
}
.task::placeholder{
    color: blue;
    padding: 10px;
    
}
input{
    border: none;
    border-radius: 3px;
    margin-right:10px ;
    caret-shape:underscore;
    caret-color: rgb(252, 0, 0);

}
.task{
    color:red;
}
.btn{
    height: 33px;
    color: green;
    width: 60px;
    border: none;
    border-radius: 5px;
    transition: .5s;
    
}
.btn:hover{
    background-color:aqua;  
    transform: scale(1.05); 
    color: red;
    animation: btn infinite ease-in 5s;
    box-shadow: 2px 2px 3px 0px rgb(59, 52, 52);
    
}

#add_element{
    list-style-type: none;
   justify-content: center;
}

@keyframes btn{
   from{animation-timing-function: ease-in;
   };

}


.list p{
    display: flex;
    justify-content: center;
}