/* Global Variables */
:root {
    --mainfont: Segoe UI;
    --black: #333;
    --shadow: 2px 2px 2px black;
    --blackgrey: #505050;
    --grey: #d6d6d6;
    --red: #db2b2b;
}
 
* {
    transition: 100ms;
} 

html, body {
    font-family: var(--mainfont);
    font-weight: normal;
    font-size: 1rem;
    background: var(--black);
    color: white;
}

#small {
    margin-top: 10px;
    font-size: 0.8rem;
}

#standart-rem {
    font-size: 1rem;
}

a, input {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

.title {
    padding: 0.5rem 0.5rem;
    background: var(--black);
    color: white;
    border: 1.5px solid var(--blackgrey);
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 2rem;
}



.btn {
    padding: 0.5rem 1rem;
    background: var(--black);
    border: 0;
    color: white;
    border: 1.5px solid white;
    width: 100%;

}

.btnhover {
    background: white;
    color: black;
    border: 1.5px solid black;
}

.deletebtn {
    position: absolute;
    top: 3vh;
    left: 2vw;
    opacity: 0.3;
    width: 150px;
    text-align: center;
}

.deletebtnhover {
    opacity: 1;
}

.wrapper-a {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20%;
}

.wrapper-a > .error {
    margin: 10px;
}

.error {
    margin: 10px 20%;
}

header {
    text-align: center;
    font-style: italic;
}

header > hr {
    width: 95%;
    background: var(--blackgrey);
    border: 1px solid var(--blackgrey);
}

.insert-tasks {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
   
}

.insert-tasks > h2 {
    text-align: center;
}

.insert-tasks > ul {
    width: 90%;
    margin: auto;
    font-style: italic;
    font-size: 1.3rem;
}

.insert-tasks > ul > input, .insert-tasks > ul > textarea {
    width: 70vw;
    font-size: 1.3rem;
}

.error {
    text-align: right;

}

.tasksoutput > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

.tasksoutput > div > span {
    padding: 30px;
    background: var(--blackgrey);
    margin: 10px;
    height: fit-content;
    color: #999;
    vertical-align: middle;
}

.tasksoutput > div > span > .x-btn {
    background: var(--grey);
    padding: 4px 7px;
    margin: 0;
    border: 0;
}

.tasksoutput > div > span > input:hover {
    background: var(--blackgrey);
    color: white;
}

.tasksoutput > div > span > h2 {
    color: white;
}

.btn {
    font-size: 1.2rem;
}

.btn:hover {
    background-color: var(--blackgrey);
    color: black;
}

/* Insert Button  */
.insert-btn {
    position: fixed;
    right: 30px;
    top: 20px;
    width: 50px;
    height: 50px;
    padding: 1rem;
    border: 0;
    border-radius: 50%;
    margin: 0;
    font-weight: 200;
    font-size: 1.05rem;
    background: var(--grey);
}

.insert-btn:hover {
    background: white;
}

.insert-btn:active {
    background: black;
    color: white;
}

/* Media  */
@media only screen and (max-width: 1024px) {
    header {
        font-size :3rem;
    }

    .insert-btn {
        width: 200px;
        height: 200px;
        font-size: 7rem;
    }

    .deletebtn {
        display: none;
    }

    .insert-tasks {
        font-size: 2rem;
    }

    .insert-tasks > ul {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .insert-tasks > ul > input, .insert-tasks > ul > textarea {
        
        font-size: 2.5rem;
    }

    /* .title {
        font-size: 1.5rem;
    } */

    .btn {
        font-size: 2.5rem;
    }

    

    .tasksoutput > div {
        grid-template-columns: repeat(2, 1fr);
        font-size: 2.5rem;
    }

    .x-btn {
        font-size: 2rem;
        width: 80px;
        height: 80px;
    }
}

