*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    
    
}

.icon p{
    display: flex;    
    justify-content: center;
    margin-left: -60px;
}


.nav{
    margin: -8px;
    background-color: rgb(236, 235, 235);
}

.nav p{
    transition: .5s;
}

.nav p:hover{
    color: red;
}

.background h2,.background p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(5, 5, 5);
}

h2{
    height: 13vh;
    font-size: 50px;
    font-weight:bolder;
    color: rgb(76, 0, 254);
    margin-left: 30px;
}
.ds p{
    color: rgb(47, 4, 4);
    font-size: 20px;
    font-weight:bold;
}
.g p{
    margin-top: 33vh;
}


.background p{    
    display: flex;    
    width: 75%; 

    font-family: 'Times New Roman', Times, serif;
    
}
#a{
    display: block;
    height: 80vh;
}

.imgs{
    height: 75vh;
    width: 100%;
}

.g{
    display: flex;
    text-align: center;
    
}


.bt{
    display: block;
    height: 10px;

}
.bt button{
    display: flex;
    justify-content: center;
}

.curd{    
    justify-self: space-around;
    background-color: rgb(233, 233, 233);
    margin: 10px auto;
    height: 70vh;   
}



.curd img{
    width: 100%;
    height: 45%;
    margin-top: 10px;

}

#ic{
    height: 80vhvh;
}
.Features{
    display: flex;
    justify-content: center;
}

.d {
    display: block;
    position: relative;
    margin-left: 55px;
}

.form input{
    display: block;
    justify-content: center;
    margin:1vh auto;    
}

.login_registration{
    margin: 10px auto;
    height: 60vh;
}

h4{
    display: flex;
    color: rgb(252, 7, 7);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    justify-content: center;
}

input, .kit input{
    display: block;
    margin: 20px auto;
    height: 35px;
    width: 70%;
    background-color: rgb(38, 37, 37);
    color: rgb(201, 164, 164);
    border-radius: 5px;
}


input::placeholder, .kit input::placeholder{    
    color: aquamarine;
}

.fist,.secnd{
    margin-right: 20px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.fist input{
    height: 20px;
    width: 20px;

}

.secnd input{
    height: 20px;
    width: 20px;

}
.button, .ket{
    display: block;
    margin-left:50px;
}

button{      
    background-color: green;
    border-radius:10px;
    transition: 2s;    
}


.button button a{
    text-decoration: none;
    color: white;
}
button:hover{
    color: blue;
    background-color: blueviolet;    
}

.ki{
    background-image: linear-gradient(30deg, red,blue);
    background-size: cover;
}



footer{
    margin-top: 50px;
    background-color: blue;
    color: white;    
    text-align: center;
}


footer div li span:hover{ 
    color: red;
}

.span:hover{ 
    color: red;
}

.ss li{
    padding: 7px;

}


.container {
    
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
    color: rgb(221, 151, 70);
}

.form {
    padding: 30px 40px;
    box-shadow: 3px 1px 1px 0.5 black;
}
.f{
    height: 100vh;
    
}

.log{
    position: absolute;
    width: 28vw;
    justify-content: center;
    align-items: center;
    height: 45vh;
    margin-top: 20vh;
    
    
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}